#main{
    width:500px;
    margin:0px auto;
   font-family:Calibri;
}

span{
    color:black;
}

h2{
    
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 50px;
    font-family:Calibri;
}

#login{
   /*  width:400px; */
   /* float: left;*/
    border-radius: 10px;
    font-family:Calibri;

    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin-top: 50px;
}
select{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:raleway;
}
input[type=text],input[type=password], input[type=email]{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
   font-family:Calibri;
}

input[type=submit]{
    width: 100%;
    background-color:#337ab7;;
    color: white;
    border: 1px solid #337ab7;;
   
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}
.btnBack {
	width: 100%;
    background-color:#337ab7;;
    color: white;
    border: 1px solid #337ab7;;
   
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type=button]{
    width: 100%;
    background-color:#3b5998;
    color: white;
    border: 2px solid #3b5998;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

#profile{
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color:#DCE6F7;
}

#logout{
    float:right;
    padding:5px;
    border:dashed 1px gray;
    margin-top: -168px;
font-family:Calibri;
}

a{
    text-decoration:none;
    color: cornflowerblue;
}

i{
color: cornflowerblue;
}

.error_msg{
color:red;
font-size: 16px;
}

.message{
position: absolute;
font-weight: bold;
font-size: 28px;
color: #6495ED;
left: 262px;
width: 800px;
text-align: center;
}